{% extends 'student/base.html' %}

{% block title %} Explore Course {% endblock %}

{% block content %}
    <h1 class="text-center mt-4 mb-5">Explore Courses</h1>

    <!-- Full-Width Search Bar -->
    <div class="container mb-4">
        <form class="form-inline w-100">
            <div class="input-group w-100">
                <input class="form-control" type="search" placeholder="Search Courses" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if course.course_image %}
                            <img src="{{ course.course_image.url }}" class="card-img-top" alt="{{ course.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <p class="card-text"><small class="text-muted">Uploaded on: {{ course.upload_date }}</small></p>
                            <a href="{% url 'student:video_playlist' course_id=course.id %}" class="btn btn-primary">View Playlist</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
